#main {
    height: 97vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

#header {
    font-size: xx-large;
    font-weight: 900;
    color: skyblue;
}

#main-wrapper {
    flex-grow: 1;
    height: auto;
    overflow-y:auto ;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#header{
    text-align: left;
    font-size: 32px;
    font-weight: 900;
    padding: 5px 10px;
    border-bottom: 1px solid #a9a9a9;
    text-shadow: 10px 15px 10px #c5c5c5;
    cursor: pointer;
}
#header .meme{
    color: tomato;
}
#header .js{
    color: #87ceeb;
    font-style: italic;
}